[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/tinygltf"]
	path = 3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdparty/libexpat"]
	path = 3rdparty/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "3rdparty/nfd-extended"]
	path = 3rdparty/nfd-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
